:root {
    --background: rgba(14,14,14,1);
    --favcolor: rgba(67,112,229,1);
    --favcolor50: rgba(67,112,229,0.5);
    --favcolor30: rgba(67,112,229,0.3);
    --favcolor0: rgba(67,112,229,0);
  }


@font-face {
    font-family: 'Gotham Pro Bold';
    src: url('font/gothamprobold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
  
@font-face {
    font-family: 'Gotham Pro Regular';
    src: url('font/gothamprolight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}


.star{
   position: absolute;
   background: #fff;
   border-radius: 50px;
   animation-name: move;
   animation-duration: 12s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
}


@keyframes move {
   0% { 
    transform: translateY(100vh); 
}
   100% { 
    transform: translateY(-100vh); 
}
}







body {
    background: var(--background);
    color: #fff;
    overflow: hidden;
    font-family: "Gotham Pro Regular", serif;
}



#Header {
    display: flex;
    flex-direction: column;
    justify-content:end;
    align-items: center;
    height: 50vh;
    /* border: 1px solid blue; */
}

#MySocials {
    display: flex;
    flex-direction: column;
    /*justify-content:baseline;*/
    margin-top: 8vh;
    /*align-items: center;*/
    height: 50vh;
    /* border: 1px solid green; */
}

.Bold-Text {
    font-family: "Gotham Pro Bold", serif;
}



#Text-Blue {
    color: var(--favcolor);
}

#Header-Title {
    font-size: 4rem;
}

#Header-Description {
    font-size: 1.5rem;
    max-width: 40ch;
    margin-top: 4vh;
}

#Socials-Title {
    font-size: 2.25rem;
    margin-bottom: 5vh;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(31deg, var(--favcolor) 0%, rgba(54,102,227,1) 35%, rgba(49,98,226,1) 66%, var(--favcolor) 100%);
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 8px;
    transition-duration: 1s;
}
  
.Button:hover {
    cursor:pointer;
    box-shadow: 0 0 10px var(--favcolor30), 
                 0 0 20px var(--favcolor30),
                 0 0 30px var(--favcolor30),
                 0 0 80px var(--favcolor30);
    transform: scale(1.2);
    transition: transform .5s;
}

#Button-List {
    display: flex;
    justify-content: center;
    gap: 3.125rem;
}

.blop {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: var(--favcolor);
    filter: blur(10rem);
    transition: opacity 5s ease-in-out;
}

#first {
    top: -10rem;
    left: -10rem;
}

#second {
    right: -10rem;
    bottom: -10rem;
}

.blur-block {
    width: 100%;
    height: 100%;
}





@media (max-width: 1536px) {
    .Container {
        max-width: 1280px;
    }
}

@media (max-width: 1280px) {
    .Container {
        max-width: 1024px;
    }

    .blop {
        opacity: 0.8;
    }
}

@media (max-width: 1024px) {
    .Container {
        max-width: 768px;
    }

    .blop {
        opacity: 0.6;
    }
}

@media (max-width: 768px) {
    .Container {
        max-width: 640px;
    }
    .blop {
        opacity: 0.4;
    }
}

@media (max-width: 640px) {
    .Container {
        max-width: 475px;
    }
}

@media (max-width: 475px) {
    .Container {
        width: 100%;
    }
}

.Container {
    position: relative;
    z-index: 2;
    /* border: 1px solid red; */
    text-align: center;
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.graph-paper {

    z-index: 1;
    position:absolute;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background: 
      repeating-linear-gradient(0deg, var(--favcolor50) 0, var(--favcolor0) 1px, transparent 1px, transparent 50px),
      repeating-linear-gradient(90deg, var(--favcolor50) 0, var(--favcolor0) 1px, transparent 1px, transparent 50px);

    -webkit-mask-image: radial-gradient(ellipse, var(--favcolor30) 0%, var(--favcolor0) 50%);
}
  
